/*parallax code credit: https://www.w3schools.com/howto/howto_css_parallax.asp*/
body,
html {
    height: 100%;
    margin: auto;
}

@import url("https://use.typekit.net/one3brt.css");

h1 {
    font-family: bc-alphapipe, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #F15822;
}

p {
    font-family: aktiv-grotesk, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #4C4C4D;
    font-size: 17px;
    line-height: 30px;
}

#nav_bar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    background-color: white;
    color: #4C4C4D;
}

ul {
    margin: 0;
    padding: 0;
    height: 50px;
    padding-top: 15px;
    margin-right: 20px;
}

li {
    display: inline;
    margin-right: 50px;
    font-family: bc-alphapipe, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #4C4C4D;
}

li a {
    text-decoration: none;
    color: #4C4C4D;
}

li a:hover {
    color: #F15822;
    text-decoration: none;
}

#bgimg-1,
#bgimg-2,
#bgimg-3,
#bgimg-4 {
    max-width: 1920px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#bgimg-1 {
    background-image: url("images/1_home-about.jpg");
    min-height: 100%;
}

#bgimg-2 {
    background-image: url("images/2_exterior.jpg");
    min-height: 100%;
}

#bgimg-3 {
    background-image: url("images/3_interior.jpg");
    min-height: 100%;
}

#bgimg-4 {
    background-image: url("images/4_faces.jpg");
    min-height: 100%;
}



h2 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 600;
    font-size: 30px;

}

.features_1 {
    width: 35%;
    margin-left: 50%;
    padding-left: 4%;
    padding-top: 25%;
    margin-right: 10%;
    padding-right: 15%;

}

.features_2 {
    width: 35%;
    margin-left: 10%;
    margin-right: 40%;
    padding-top: 20%;
    padding-right: 4%;


}

.engineerteam {
    width: 80%;
    height: 40%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 22%;
}

.designteam {
    width: 80%;
    height: 40%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 22%;
}

.userstories {
    width: 60%;
    height: 40%;
    margin-left: 28%;
    margin-right: 20%;
    margin-bottom: 22%;

}

h3 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;

}

/*
#orderphone {
    text-align: center;
    
}

#customers {
    text-align: center;
    
}

#businesses {
    text-align: center;
}

*/


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}
